<!IDOCTYPE html>

<html lang="ja">
<head>
 <meta charset="UTF-8">
 <link rel="stylesheet" href="top.css">
</head>

<h1>ようこそBookersへ！</h1>

<p class="Title-text">
Bookersでは、さまざまな書籍に関するあなたの意見や<br>
印象を共有し交換することができます<br>

<%=link_to("start","/books") %>

</p>

</html>